#modal{
    align-items: center;
    background-color: rgba(14, 10, 20, 0.308);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    /*coloca no top da página*/
    top: 0;
    transition: 400ms;
    width: 100vw;
}

#modal.escondido{
    display: none;
}

#modal .content{
    color: white;

    width: 420px;
}

#modal .header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#modal .header a{
    background-image: url("../assets/icones/x.svg");
    font-size: 0.01px;
    height: 20px;
    width: 20px;
}
#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label{
    /*o display em block é para força que o conteúdo tome todo o espaço para poder aplicar o margin*/
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}

#modal .field{
    display: flex;
}

#modal form input{
    background-color: var(--bckground-color);
    border: 0;
    border-radius: 8px 0 0 8px;
    color: #6c6c80;
    font-size: 18px;
    /*daz com que o contéudo ocupe todo o espaço, nesse caso lateralmente.*/
    flex: 1;
    padding: 16px 24px;
}

#modal form button{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0px 8px 8px 0px;
    height: 72px;
    width: 72px;
    transition: background-color 400ms;
}

#modal form button:hover{
    background-color: #2fb85e;
}

/*para o point-created*/
#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point h1{
    color: white;
    margin-top: 32px;
}